In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
df_train=pd.read_csv('train_final.csv',index_col=False)
labels=df_train[['784']]

In [3]:
df_train.drop(df_train.columns[[784]],axis=1,inplace=True)
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
np.random.seed(1212)
import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers
from keras.layers import Input, Dense
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.utils import np_utils
from keras import backend as K
K.image_dim_ordering('th')
# keras.backend.image_dim_ordering()

AttributeError: module 'keras.backend' has no attribute 'image_dim_ordering'

In [8]:

labels=np.array(labels)

In [9]:
from keras.utils.np_utils import to_categorical
cat=to_categorical(labels,num_classes=13)

In [10]:
print(cat[0])

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0.]

In [11]:
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
df_train.shape

(47504, 784)

In [44]:
temp=df_train.to_numpy()

In [45]:
X_train = temp.reshape(temp.shape[0], 28, 28, 1)

In [51]:
temp.shape[0]

47504

In [46]:
X_train.shape

(47504, 28, 28, 1)

In [36]:
l=[]
for i in range(47504):
    l.append(np.array(df_train[i:i+1]).reshape(1,28,28))

In [37]:
np.random.seed(7)

In [38]:
len(l[0])

1

In [52]:
X_train.shape

(47504, 28, 28, 1)

In [47]:
model = Sequential()
model.add(Conv2D(32, (3,3), input_shape=(28, 28,1), activation='relu',padding='same'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Conv2D(15, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(128, activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dense(13, activation='softmax'))
# Compile model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [48]:
from keras.models import model_from_json

In [49]:
model.fit(X_train, cat, epochs=10, batch_size=200,shuffle=True,verbose=1)

Epoch 1/10
238/238 [==============================] - 8s 9ms/step - loss: 3.4487 - accuracy: 0.4379
Epoch 2/10
238/238 [==============================] - 2s 8ms/step - loss: 0.2699 - accuracy: 0.9177
Epoch 3/10
238/238 [==============================] - 2s 8ms/step - loss: 0.1382 - accuracy: 0.9581
Epoch 4/10
238/238 [==============================] - 2s 8ms/step - loss: 0.0935 - accuracy: 0.9711
Epoch 5/10
238/238 [==============================] - 2s 8ms/step - loss: 0.0694 - accuracy: 0.9797
Epoch 6/10
238/238 [==============================] - 2s 8ms/step - loss: 0.0558 - accuracy: 0.9834
Epoch 7/10
238/238 [==============================] - 2s 8ms/step - loss: 0.0472 - accuracy: 0.9862
Epoch 8/10
238/238 [==============================] - 2s 8ms/step - loss: 0.0407 - accuracy: 0.9873
Epoch 9/10
238/238 [==============================] - 2s 8ms/step - loss: 0.0356 - accuracy: 0.9884
Epoch 10/10
238/238 [==============================] - 2s 8ms/step - loss: 0.0271 - accuracy: 0.9911

In [50]:

model_json = model.to_json()
with open("model_final.json", "w") as json_file:
    json_file.write(model_json)
# serialize weights to HDF5
model.save_weights("model_final.h5")